* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f8f8f8ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background: #fff;
}
/*==== NAVBAR =====*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}
/*=== logo ==*/
.nav-bar img {
    width: 110px;
    height: auto;
}
/*=== menu */
.nav-link {
    display: flex;
    list-style: none;
    gap: 25px;

}
.nav-link li {
    cursor: pointer;
    font-weight: 500;
    color: black;
    transition: color 0.3s;
}
.nav-link li a {
    text-decoration: none;
}
.nav-link li a :hover {
    color: aqua;
}
/*=== hero ===*/
.hero {
    min-height: 85vh;
    display: grid;
    place-items: center;
    padding: 24px;
    background: 
    linear-gradient();
    url("");
}
.hero_content {
    width: min(100% 900px);
    text-align: center;
    margin-inline: auto;
}
.hero_title {
    font-weight: 800;
    line-height: 1.1;
}